<%- include('../partials/header') %>

<h3>RPG</h3>

<div id="board">
</div>

<div class="moveCounter">
  Nombres de mouvements : <span id="nbMoves">0</span>
</div>

<div class="buttons">
  <button type="button" name="button" id="addForbiddenCellsButton">Ajouter des cases interdites</button>
</div>


<audio id="easterEgg" src="/sounds/encore_du_travail.mp3"></audio>
<audio id="deathSound" src="/sounds/argh.mp3"></audio>

<script src="/js/rpg.js" charset="utf-8"></script>